.btn {
    border: black 1px solid;
    max-width: min-content;
    border-radius: 4px;
    padding: 0.6em 1.2em;
    font-size: 0.8em;
    font-weight: 500;
    background-color: var(--primary);
    cursor: pointer;
    transition: border-color 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid transparent;
    outline-offset: 1px;
    transition: outline 0.1s ease;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading-icon {
    margin-left: 6px;
    animation: spin 1s linear infinite;
}

.btn:hover {
    outline: 1px solid var(--primary);
}
