.file-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.file-input-label {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem;
  background: #111;
  color: #ffffff;
  font-size: 0.8rem;
  cursor: pointer;
  transition: border-color 0.2s;
}

.file-input-label > span {
    word-break: keep-all;
    white-space: nowrap;;
}

.file-input-label:hover,
.file-input-label:focus-within {
  border-color: var(--primary);
}

.file-input-wrapper.drag-active .file-input-label {
  border-color: var(--primary);
}

.file-input {
  display: none;
}

.file-input-filename {
  margin-left: 0.75rem;
  color: #ebe9e9;
  font-size: 0.95em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 0.3em;
  text-underline-position: above;
}

.file-input:focus + .file-input-label,
.file-input:not(:placeholder-shown) + .file-input-label,
.file-input-label.has-file {
  border-color: var(--primary);
}